/*google font */
body{
    font-family: 'Open Sans', sans-serif;
}
/*nav style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}
.nav-tittle{
    color: var(--Dark-01, #181818);
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.text-primary{
    color: #FD6E0A;;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.btn-primary{
    color: var(--White-Color, #FFF);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: #FD6E0A;
    border-radius: 5px;
    border: 0;
    color: #FFFFFF;
    padding: 15px 35px;
    
    
}
/* header style */
.header-class{
    background-color:#FFF8F3;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    justify-content: space-between;
    
}
.header-pic{
    width: 570px;

}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin: 0;
}
.banner-tittle{
    color: #181818;
    font-size: 85px;
font-style: normal;
font-weight: 700;
margin-top: 5px;
}
.banner-description{
    color: var(--Dark-03, #757575);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

/* Main Section Style Started */


/*About Section */
.about{
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px ;
    margin: 150px;
}
.section-tittle{
    color: var(--Dark-01, #181818);
text-align: center;
font-family: Open Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.sectin-description{
    color:  #757575);
text-align: center;
font-family: Open Sans;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.about-info-container{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
.about-info{
    text-align: center;
}