/*google font */
body{
    font-family: 'Open Sans', sans-serif;
}
/*nav style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}
.nav-tittle{
    color: var(--Dark-01, #181818);
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.text-primary{
    color: #FD6E0A;;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.btn-primary{
    color: var(--White-Color, #FFF);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: #FD6E0A;
    border-radius: 5px;
    border: 0;
    color: #FFFFFF;
    padding: 15px 35px;
    
    
}
/* header style */
.header-class{
    background-color:#FFF8F3;
    background-image: url(images/developer.png);
    background-repeat: no-repeat;
    background-position: top-left;
    
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    justify-content: space-between;
    
}
.header-pic{
    width: 570px;

}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin: 0;
}
.banner-tittle{
    color: #181818;
    font-size: 85px;
font-style: normal;
font-weight: 700;
margin-top: 5px;
}
.banner-description{
    color: var(--Dark-03, #757575);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

/* Main Section Style Started */


/*About Section */
.about{
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px ;
    margin: 150px;
}
.section-tittle{
    color: var(--Dark-01, #181818);
text-align: center;
font-family: Open Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;

}
.sectin-description{
    color:  #757575;
text-align: center;
font-family: Open Sans;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
}
.about-info-container{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
.about-info{
    text-align: center;
}
.section-description{
    color: #757575 ;
    text-align: center;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    padding: 30px 150px;
    line-height: 30px; /* 166.667% */
}

/* skill section */
.skills-container{
    display: flex;
    padding: 30px 150px;
    gap: 24px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
/* Resume Section Style */
.resume-column-tittle{
color: var(--Dark-02, #474747);
font-size: 30px;
font-style: normal;
font-weight: 700;

}
.resume-container{
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 250px ;
    margin-bottom: 20px;
}
.resume-item-tittle{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.resume-item-institute{
    margin-bottom: 20px;
    margin-top: 0px;
}
.resume-item-institute, .resume-item-description{
    color: #757575;
}
.resume-container hr{
    margin: 50px;
}
.download-cv{
    text-align: center;
    margin-bottom: 500px;
}

/* footer style */

footer{
    display: flex;
    gap: 100px;
    background-color: #FFF8F3;
    margin-top: 100px;
    padding: 130px 200px;
}
.footer-column{
    width: 50%;
}
.social-links a{
    margin-right: 25px;
    padding-left: 80px;
}
.contact input,[type="text"], .contact input[type="email"], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;   
    color: #757575;
    border-radius: 10px;
    border: 0px;
    width: 100%;
}
.btn-primary{
    color: var(--White-Color, #FFF);
text-align: center;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}